:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated menu items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}


.pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
}

.pagination-link,
.pagination-current {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

.pagination-link:hover {
    background-color: #ddd;
}

.pagination-current {
    font-weight: bold;
}
